<h1>卡片列表</h1>

<%= link_to "新增卡片", new_card_path %>

<% @cards.each do |card| %>
  <div class="card">
    <h2><%= card.title %></h2>
    <div class="card-body">
      <p><%= card.content %></p>
    </div>
  </div>
<% end %>
